body{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

h1{
    font-family: 'Papyrus', fantasy;
    font-size: 58px;
}

img{
    height: 220px;
    border: 4px dashed forestgreen;
}

span{
    margin: 10px; 
    display: inline-block;
}

div{
    margin-top: 20px;
    text-align: center;
}

h5{
    width:inherit;
}