body{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

h1{
    font-family: 'Papyrus', fantasy;
    font-size: 58px;
}

img{
    height: 320px;
    border: 4px dashed forestgreen;
}

span{
    margin: 15px; 
}

div{
    padding: 20px;
    text-align: center;
}